<div style="width: 400px;">
  <div class="container">
    <div class="item">
      <ngp-captcha [ShowCaptcha]="true" (onCaptchaChange)="onCaptchaChange($event)"
        [randomCaptchaSize]="8"></ngp-captcha>
    </div>
  </div>
  <button [disabled]="!isCaptachaValidated">Login</button>
</div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label>
      Name:
      <ngp-rich-text-editor [isItalicRequired]="true" [isRegisteredRequired]="true" [isSubScriptRequired]="true"
        [isSuperScriptRequired]="true" [isTradeMarkRequired]="true" formControlName="name" placeholder="Your name"></ngp-rich-text-editor>
    </label>
  </div>
</form>
